In [61]:
import pandas as pd

In [62]:
!pwd

/Users/pranavmanjunath/Library/Mobile Documents/com~apple~CloudDocs/mtv_viacom_capstone/10_code/20_merge_data

In [63]:
data=pd.read_csv("../../20_intermediate_files/30_campuses_w_dist_to_nearest_pp.csv")
data=data.drop(columns=['Unnamed: 0','Unnamed: 0.1'])

In [64]:
coll_enrol=pd.read_csv("../../20_intermediate_files/17_college_enrollment_data_merge.csv", index_col=None)

In [65]:
data

,UNIQUEID,NAME,ADDRESS,CITY,STATE,ZIP,ZIP4,TELEPHONE,TYPE,STATUS,...,Latitude_2020_early,Longitude_2020_early,distances_2020_early,Latitude_starbucks,Longitude_starbucks,distances_starbucks,Latitude_target,Longitude_target,distances_target,Region
0,212878,HARRISBURG AREA COMMUNITY COLLEGE,1 HACC DR.,Harrisburg,PA,17110,2999,(717) 780-2300,1,A,...,40.259492,-76.881770,3480.957883,40.302962,-76.845026,3108.077605,40.308926,-76.796429,7267.541903,North East
1,214111,MONTGOMERY COUNTY COMMUNITY COLLEGE,340 DEKALB PIKE,Blue Bell,PA,19422,0796,(215) 641-6300,1,A,...,40.244436,-75.287894,7259.581096,40.166138,-75.290424,742.347073,40.224430,-75.239600,5941.294568,North East
2,213376,LACKAWANNA COLLEGE,501 VINE ST,Scranton,PA,18509,3206,(570) 961-7810,2,A,...,41.408490,-75.665693,480.063799,41.406799,-75.655986,281.363300,41.467110,-75.639079,6264.540417,North East
3,215655,ROBERT MORRIS UNIVERSITY,6001 UNIVERSITY BOULEVARD,Moon Township,PA,15108,1189,(800) 762-0097,2,A,...,40.414250,-80.096572,12312.658582,40.516461,-80.219944,459.121467,40.535463,-80.067772,7046.031809,North East
4,212869,HARCUM COLLEGE,750 MONTGOMERY AVE,Bryn Mawr,PA,19010,3470,(610) 525-4100,2,A,...,40.011988,-75.260530,4636.515310,40.020329,-75.316589,263.475128,40.003220,-75.283075,3324.823796,North East
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2238,161554,UNIVERSITY OF SOUTHERN MAINE,96 FALMOUTH ST,Portland,ME,4103,NOT AVAILABLE,(207) 780-4141,1,A,...,43.659654,-70.257476,1187.102171,43.654172,-70.262740,1128.168358,43.634242,-70.347774,6228.977035,North East
2239,161563,THOMAS COLLEGE,180 W RIVER RD,Waterville,ME,4901,5097,(207) 859-1111,2,A,...,44.549847,-69.629005,3564.341285,44.570641,-69.642329,5088.369240,44.312403,-69.804993,25764.525451,North East
2240,161572,UNITY COLLEGE,90 QUAKER HILL ROAD,Unity,ME,4988,NOT AVAILABLE,(207) 509-7100,2,A,...,44.532731,-69.439975,11314.561551,44.570641,-69.642329,24690.972169,44.312403,-69.804993,49293.005835,North East
2241,161581,WASHINGTON COUNTY COMMUNITY COLLEGE,ONE COLLEGE DRIVE,Calais,ME,4619,NOT AVAILABLE,(207) 454-1000,1,A,...,45.188397,-67.276925,3620.578653,44.841650,-68.741040,123348.715245,44.842191,-68.741560,123369.952210,North East
2242,487524,HUSSON UNIVERSITY,1 COLLEGE CIRCLE,Bangor,ME,4401,2929,(207) 941-7000,2,A,...,44.795664,-68.765096,3775.146711,44.834940,-68.744892,3369.964460,44.842191,-68.741560,3878.985904,North East

In [66]:
coll_enrol

,Unnamed: 0,UNITID,INSTNM,IALIAS,ADDR,CITY,STABBR,ZIP,FIPS,OBEREG,...,LSTUDY,EFAGE01,EFAGE02,EFAGE03,EFAGE04,EFAGE05,EFAGE06,EFAGE07,EFAGE08,EFAGE09
0,0,100654,Alabama A & M University,AAMU,4900 Meridian Street,Normal,AL,35762,1,5,...,1,2023,3226,279,449,5249,728,2302,3675,5977
1,1,100663,University of Alabama at Birmingham,,Administration Bldg Suite 1070,Birmingham,AL,35294-0110,1,5,...,1,5681,9199,2562,5121,14880,7683,8243,14320,22563
2,2,100706,University of Alabama in Huntsville,UAH University of Alabama Huntsville,301 Sparkman Dr,Huntsville,AL,35899,1,5,...,1,4292,3053,1359,1295,7345,2654,5651,4348,9999
3,3,100724,Alabama State University,,915 S Jackson Street,Montgomery,AL,36104-0271,1,5,...,1,1257,2350,178,287,3607,465,1435,2637,4072
4,4,100751,The University of Alabama,,739 University Blvd,Tuscaloosa,AL,35487-0100,1,5,...,1,13899,17634,2242,4065,31533,6307,16141,21699,37840
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2662,2662,495411,Paul Mitchell the School-Richland-Provo,,480 North 900 East,Provo,UT,84606-3424,49,7,...,1,8,141,3,15,149,18,11,156,167
2663,2663,495518,Empire Beauty School-Newport News,,12365 Hornsby Lane,Newport News,VA,23602-6958,51,5,...,1,1,40,1,17,41,18,2,57,59
2664,2664,495767,The Pennsylvania State University,Penn State,201 Old Main,University Park,PA,16802-1503,42,2,...,1,38782,33733,9141,8160,72515,17301,47923,41893,89816
2665,2665,495916,Pathways College,,320 N. Halstead St.,Pasadena,CA,91107,6,8,...,1,1,0,5,7,1,12,6,7,13
2666,2666,496043,California University of Science and Medicine,,1501 Violet Street,Colton,CA,92324-1603,6,8,...,1,172,179,0,0,351,0,172,179,351

In [67]:
import pandas as pd
import geopandas as gpd

def string_punc(test_str):

    punc = """!()-[]{};:'"\,<>./?@#$%^&*_~"""

    try:

        test_str = str(test_str).lower()
        # print(test_str)
        for ele in test_str:
            if ele in punc:
                test_str = test_str.replace(ele, "")
        processed_lst = []
        for word in test_str.split():
            if word not in ["the", "at", "in", "and", "of"]:
                processed_lst.append(word)

        test_str = " ".join(processed_lst)
        test_str = test_str.replace(" ", "")
        return test_str.lower()
    except:
        return "Null"

In [68]:
coll_enrol['preprocessed_name']=coll_enrol['INSTNM'].apply(string_punc)

In [69]:
coll_enrol

,Unnamed: 0,UNITID,INSTNM,IALIAS,ADDR,CITY,STABBR,ZIP,FIPS,OBEREG,...,EFAGE01,EFAGE02,EFAGE03,EFAGE04,EFAGE05,EFAGE06,EFAGE07,EFAGE08,EFAGE09,preprocessed_name
0,0,100654,Alabama A & M University,AAMU,4900 Meridian Street,Normal,AL,35762,1,5,...,2023,3226,279,449,5249,728,2302,3675,5977,alabamaamuniversity
1,1,100663,University of Alabama at Birmingham,,Administration Bldg Suite 1070,Birmingham,AL,35294-0110,1,5,...,5681,9199,2562,5121,14880,7683,8243,14320,22563,universityalabamabirmingham
2,2,100706,University of Alabama in Huntsville,UAH University of Alabama Huntsville,301 Sparkman Dr,Huntsville,AL,35899,1,5,...,4292,3053,1359,1295,7345,2654,5651,4348,9999,universityalabamahuntsville
3,3,100724,Alabama State University,,915 S Jackson Street,Montgomery,AL,36104-0271,1,5,...,1257,2350,178,287,3607,465,1435,2637,4072,alabamastateuniversity
4,4,100751,The University of Alabama,,739 University Blvd,Tuscaloosa,AL,35487-0100,1,5,...,13899,17634,2242,4065,31533,6307,16141,21699,37840,universityalabama
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2662,2662,495411,Paul Mitchell the School-Richland-Provo,,480 North 900 East,Provo,UT,84606-3424,49,7,...,8,141,3,15,149,18,11,156,167,paulmitchellschoolrichlandprovo
2663,2663,495518,Empire Beauty School-Newport News,,12365 Hornsby Lane,Newport News,VA,23602-6958,51,5,...,1,40,1,17,41,18,2,57,59,empirebeautyschoolnewportnews
2664,2664,495767,The Pennsylvania State University,Penn State,201 Old Main,University Park,PA,16802-1503,42,2,...,38782,33733,9141,8160,72515,17301,47923,41893,89816,pennsylvaniastateuniversity
2665,2665,495916,Pathways College,,320 N. Halstead St.,Pasadena,CA,91107,6,8,...,1,0,5,7,1,12,6,7,13,pathwayscollege
2666,2666,496043,California University of Science and Medicine,,1501 Violet Street,Colton,CA,92324-1603,6,8,...,172,179,0,0,351,0,172,179,351,californiauniversitysciencemedicine

In [70]:
for i in data.columns:
    print(i)

UNIQUEID
NAME
ADDRESS
CITY
STATE
ZIP
ZIP4
TELEPHONE
TYPE
STATUS
POPULATION
COUNTY
COUNTYFIPS
COUNTRY
NAICS_CODE
NAICS_DESC
SOURCE
SOURCEDATE
VAL_METHOD
VAL_DATE
WEBSITE
TOT_ENROLL
TOT_EMP
SHELTERID
preprocessed_name
centroid_x_epsg_102005
centroid_y_epsg_102005
centroid_long
centroid_lat
OPE ID
IPED ID
School Name
Institution Type
# of Nat'l AP Partners
# of Partners
Civic Holiday
MSI
NSLVE
NSLVE
2014
2016 NSLVE Report
2018 NSLVE Reports
2016 Action Plan
2018 Action Plan
2020 Action Plan
Campus Contact
Longitude
Latitude
Pell Grant %
BIPOC %
American Indian or Alaskan Native
Asian
Black or African American
Hispanic or Latinx
NHPI
Two or more Races
geometry
index_right
state_2020
Latitude_2020
Longitude_2020
distances_2020
Latitude_2020_early
Longitude_2020_early
distances_2020_early
Latitude_starbucks
Longitude_starbucks
distances_starbucks
Latitude_target
Longitude_target
distances_target
Region

In [71]:
len(data)

2243

In [72]:
len(coll_enrol)

2667

In [73]:
len(data.merge(coll_enrol, on='preprocessed_name'))

1544

In [74]:
coll_enrol

,Unnamed: 0,UNITID,INSTNM,IALIAS,ADDR,CITY,STABBR,ZIP,FIPS,OBEREG,...,EFAGE01,EFAGE02,EFAGE03,EFAGE04,EFAGE05,EFAGE06,EFAGE07,EFAGE08,EFAGE09,preprocessed_name
0,0,100654,Alabama A & M University,AAMU,4900 Meridian Street,Normal,AL,35762,1,5,...,2023,3226,279,449,5249,728,2302,3675,5977,alabamaamuniversity
1,1,100663,University of Alabama at Birmingham,,Administration Bldg Suite 1070,Birmingham,AL,35294-0110,1,5,...,5681,9199,2562,5121,14880,7683,8243,14320,22563,universityalabamabirmingham
2,2,100706,University of Alabama in Huntsville,UAH University of Alabama Huntsville,301 Sparkman Dr,Huntsville,AL,35899,1,5,...,4292,3053,1359,1295,7345,2654,5651,4348,9999,universityalabamahuntsville
3,3,100724,Alabama State University,,915 S Jackson Street,Montgomery,AL,36104-0271,1,5,...,1257,2350,178,287,3607,465,1435,2637,4072,alabamastateuniversity
4,4,100751,The University of Alabama,,739 University Blvd,Tuscaloosa,AL,35487-0100,1,5,...,13899,17634,2242,4065,31533,6307,16141,21699,37840,universityalabama
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2662,2662,495411,Paul Mitchell the School-Richland-Provo,,480 North 900 East,Provo,UT,84606-3424,49,7,...,8,141,3,15,149,18,11,156,167,paulmitchellschoolrichlandprovo
2663,2663,495518,Empire Beauty School-Newport News,,12365 Hornsby Lane,Newport News,VA,23602-6958,51,5,...,1,40,1,17,41,18,2,57,59,empirebeautyschoolnewportnews
2664,2664,495767,The Pennsylvania State University,Penn State,201 Old Main,University Park,PA,16802-1503,42,2,...,38782,33733,9141,8160,72515,17301,47923,41893,89816,pennsylvaniastateuniversity
2665,2665,495916,Pathways College,,320 N. Halstead St.,Pasadena,CA,91107,6,8,...,1,0,5,7,1,12,6,7,13,pathwayscollege
2666,2666,496043,California University of Science and Medicine,,1501 Violet Street,Colton,CA,92324-1603,6,8,...,172,179,0,0,351,0,172,179,351,californiauniversitysciencemedicine

In [75]:
merged_data = data.merge(
    coll_enrol,
    left_on = ['preprocessed_name', 'STATE'],
    right_on = ['preprocessed_name', 'STABBR'],
    how="outer",
    indicator=True
)

In [76]:
merged_data

,UNIQUEID,NAME,ADDRESS,CITY_x,STATE,ZIP_x,ZIP4,TELEPHONE,TYPE,STATUS,...,EFAGE01,EFAGE02,EFAGE03,EFAGE04,EFAGE05,EFAGE06,EFAGE07,EFAGE08,EFAGE09,_merge
0,212878.0,HARRISBURG AREA COMMUNITY COLLEGE,1 HACC DR.,Harrisburg,PA,17110.0,2999,(717) 780-2300,1.0,A,...,1590.0,2582.0,3492.0,7712.0,4172.0,11204.0,5082.0,10294.0,15376.0,both
1,214111.0,MONTGOMERY COUNTY COMMUNITY COLLEGE,340 DEKALB PIKE,Blue Bell,PA,19422.0,0796,(215) 641-6300,1.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,213376.0,LACKAWANNA COLLEGE,501 VINE ST,Scranton,PA,18509.0,3206,(570) 961-7810,2.0,A,...,646.0,731.0,222.0,444.0,1377.0,666.0,868.0,1175.0,2043.0,both
3,215655.0,ROBERT MORRIS UNIVERSITY,6001 UNIVERSITY BOULEVARD,Moon Township,PA,15108.0,1189,(800) 762-0097,2.0,A,...,1690.0,1380.0,507.0,557.0,3070.0,1064.0,2197.0,1937.0,4134.0,both
4,212869.0,HARCUM COLLEGE,750 MONTGOMERY AVE,Bryn Mawr,PA,19010.0,3470,(610) 525-4100,2.0,A,...,123.0,596.0,68.0,363.0,719.0,431.0,191.0,959.0,1150.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3378,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.0,141.0,3.0,15.0,149.0,18.0,11.0,156.0,167.0,right_only
3379,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,40.0,1.0,17.0,41.0,18.0,2.0,57.0,59.0,right_only
3380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,38782.0,33733.0,9141.0,8160.0,72515.0,17301.0,47923.0,41893.0,89816.0,right_only
3381,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,5.0,7.0,1.0,12.0,6.0,7.0,13.0,right_only
3382,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,172.0,179.0,0.0,0.0,351.0,0.0,172.0,179.0,351.0,right_only

In [77]:
right_only=merged_data[merged_data['_merge']=='right_only']
right_only=right_only.sort_values(by=['STABBR','preprocessed_name'])

In [78]:
left_only=merged_data[merged_data['_merge']=='left_only']
left_only=left_only.sort_values(by=['STATE','preprocessed_name'])

In [79]:
for i in left_only.columns:
    print(i)

UNIQUEID
NAME
ADDRESS
CITY_x
STATE
ZIP_x
ZIP4
TELEPHONE
TYPE
STATUS
POPULATION
COUNTY
COUNTYFIPS
COUNTRY
NAICS_CODE
NAICS_DESC
SOURCE
SOURCEDATE
VAL_METHOD
VAL_DATE
WEBSITE
TOT_ENROLL
TOT_EMP
SHELTERID
preprocessed_name
centroid_x_epsg_102005
centroid_y_epsg_102005
centroid_long
centroid_lat
OPE ID
IPED ID
School Name
Institution Type
# of Nat'l AP Partners
# of Partners
Civic Holiday
MSI
NSLVE
NSLVE
2014
2016 NSLVE Report
2018 NSLVE Reports
2016 Action Plan
2018 Action Plan
2020 Action Plan
Campus Contact
Longitude
Latitude
Pell Grant %
BIPOC %
American Indian or Alaskan Native
Asian
Black or African American
Hispanic or Latinx
NHPI
Two or more Races
geometry
index_right
state_2020
Latitude_2020
Longitude_2020
distances_2020
Latitude_2020_early
Longitude_2020_early
distances_2020_early
Latitude_starbucks
Longitude_starbucks
distances_starbucks
Latitude_target
Longitude_target
distances_target
Region
Unnamed: 0
UNITID
INSTNM
IALIAS
ADDR
CITY_y
STABBR
ZIP_y
FIPS
OBEREG
CHFNM
CHFTITLE
GENTELE
EIN
DUNS
OPEID
OPEFLAG
WEBADDR
ADMINURL
FAIDURL
APPLURL
NPRICURL
VETURL
ATHURL
DISAURL
SECTOR
ICLEVEL
CONTROL
HLOFFER
UGOFFER
GROFFER
HDEGOFR1
DEGGRANT
HBCU
HOSPITAL
MEDICAL
TRIBAL
LOCALE
OPENPUBL
ACT
NEWID
DEATHYR
CLOSEDAT
CYACTIVE
POSTSEC
PSEFLAG
PSET4FLG
RPTMTH
INSTCAT
C18BASIC
C18IPUG
C18IPGRD
C18UGPRF
C18ENPRF
C18SZSET
C15BASIC
CCBASIC
CARNEGIE
LANDGRNT
INSTSIZE
F1SYSTYP
F1SYSNAM
F1SYSCOD
CBSA
CBSATYPE
CSA
NECTA
COUNTYCD
COUNTYNM
CNGDSTCD
LONGITUD
LATITUDE
DFRCGID
DFRCUSCG
EFBAGE
LINE
LSTUDY
EFAGE01
EFAGE02
EFAGE03
EFAGE04
EFAGE05
EFAGE06
EFAGE07
EFAGE08
EFAGE09
_merge

In [80]:
_=left_only[['preprocessed_name','NAME','CITY_x','STATE']].to_csv("left_data.csv")

In [81]:
_=right_only[['preprocessed_name','INSTNM','CITY_y','STABBR']].to_csv("right_data_enroll.csv")